<div class="flex space-between center-align">
  <div class="date">{{date?.startOf('week')?.toLocaleString()}} - {{date?.endOf('week')?.toLocaleString()}}</div>
  <div>
    <a role="button" [class.outline]="!this.selected?.includes(1)" (click)="toggle(1)" data-tooltip="Montag">M</a>
    <a role="button" [class.outline]="!this.selected?.includes(2)" (click)="toggle(2)" data-tooltip="Dienstag">D</a>
    <a role="button" [class.outline]="!this.selected?.includes(3)" (click)="toggle(3)" data-tooltip="Mittwoch">M</a>
    <a role="button" [class.outline]="!this.selected?.includes(4)" (click)="toggle(4)" data-tooltip="Donnerstag">D</a>
    <a role="button" [class.outline]="!this.selected?.includes(5)" (click)="toggle(5)" data-tooltip="Freitag">F</a>
    <a role="button" [class.outline]="!this.selected?.includes(6)" (click)="toggle(6)" data-tooltip="Samstag">S</a>
    <a role="button" [class.outline]="!this.selected?.includes(7)" (click)="toggle(7)" data-tooltip="Sonntag">S</a>
  </div>
</div>

