<mark #demo>Dies ist eine DEMO. Es können keine Bestellungen aufgegeben werden!</mark>
<div class="header-container">
  <div class="header">
    <div class="container">
      <nav>
        <ul>
          <li><img (dblclick)="admin = !admin" src="assets/logo.svg" /></li>
          <li class="hide-md"><strong [class.admin]="admin">Backwarenbestellung</strong></li>
        </ul>
        <ul>
          <li><a role="button" [class.unclickable]="stage === 0" [class.outline]="stage !== 0"><em
                class="fas fa-calendar-day" routerLink="/date"></em></a></li>
          <li><em class="fas fa-caret-right spacer"></em></li>
          <li><a role="button" [class.unclickable]="stage < 1" [class.secondary]="stage < 1"
              [class.outline]="stage !== 1" routerLink="/select"><em class="fas fa-shopping-basket"></em></a></li>
          <li><em class="fas fa-caret-right spacer"></em></li>
          <li><a role="button" [class.unclickable]="stage < 2" [class.secondary]="stage < 2"
              [class.outline]="stage !== 2"><em class="fas fa-receipt"></em></a></li>
        </ul>
        <ul>
          <li>
            <dlb-timer></dlb-timer>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <dlb-alert></dlb-alert>
</div>
<div class="spacer-top"></div>
<router-outlet #outlet=outlet (activate)="activate(outlet)"></router-outlet>
<dlb-modal></dlb-modal>
