.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);

  .header {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--secondary);
    z-index: 999;
    position: relative;

    a[role="button"] {
      width: 65px;
    }
  }
}

img {
  height: 64px;
  display: inline-block;
}

h1 {
  margin-bottom: 16px;
  display: inline-block;
  margin-left: 1rem;
}

.spacer-top {
  height: 148px;
}

.breadcrumb {
  margin-left: 1rem;
  display: inline-block;
}

mark {
  position: fixed;
  top: 0;
  z-index: 99999;
  font-size: 12px;
}

.admin {
  color: red;
}

a[role="button"].unclickable,
button.unclickable {
  cursor: unset;
  pointer-events: none;
}
