<mark #demo>Dies ist eine DEMO. Es können keine Bestellungen aufgegeben werden!</mark>
<div class="header">
  <div class="container flex baseline">
    <img (dblclick)="admin = !admin" src="assets/logo.svg" />
    <h1 [class.admin]="admin">Backwarenbestellung</h1>
    <div class="breadcrumb grow">
      <span *ngIf="stage === 0">Datumsauswahl</span>
      <span *ngIf="stage !== 0">
        <a routerLink="/date">Datumsauswahl</a>
        &gt;
        <span>Warenauswahl</span>
      </span>
    </div>
    <dlb-timer></dlb-timer>
  </div>
</div>
<div class="spacer-top"></div>
<router-outlet></router-outlet>
<dlb-modal></dlb-modal>
